@model WebApplication2.Models.Traffic_Violation
@{
   
    Layout = "AdminLayout";
}
<div class="row">
    <div class="col-6">
        <form action="Search" method="Post">
           
            <div class="form-group" >
               
                <label asp-for="StartDate" class="control-label" ></label>
               
                    <input asp-for="StartDate" class="form-control" type="date" class="btn btn-dark" />
                    <span asp-validation-for="StartDate" ></span>
           </div>
          
          
            <div class="form-group">
                <label asp-for="EndDate" class="control-label" ></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate"></span>

            </div>
          
            <div class="form-group">
            <button type="submit" class="btn btn-dark" value="Search" >Search</button>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-10">
        @if (ViewBag.Result != null && ViewBag.Result.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                       
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                PoliceDirectorate
                        </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">CourtName </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                            ViolationDate
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                            ViolationLocation
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                            Street
                            </a>
                        </td>
                       
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                ViolationDescription
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                               Fineamount
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                Citationnumber
                            </a>
                        </td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Result)
                    {
                        <tr>
                          <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                        @item.PoliceDirectorate
                                </a>
                            </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                            @item.CourtName
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                            @item.ViolationDate
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                @item.ViolationLocation
                                </a>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                    @item.Street
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                    @item.ViolationDescription
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                    @item.Fineamount
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank">
                                    @item.Citationnumber
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>






