@model IEnumerable<WebApplication2.Models.Home>

@{
    Layout = "HomeLayout";
}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/Home/img/How Long Does a Ticket Stay on Your Record_.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                <h1 class="display-2 text-light mb-5 animated slideInDown">Find out your traffic fines and pay them easily</h1>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-5">Learn More</a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="~/Home/img/Take a look at the traffic violations report for 2022!.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-2 text-light mb-5 animated slideInDown">Safe Driving Is Our Top Priority</h1>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-5">Learn More</a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Facts Start -->
    
    <div class="container-fluid facts py-5 pt-lg-0">
        
          
        <div class="container py-5 pt-lg-0">
            
           
            <div class="row gx-0">
               @foreach (var item in Model)
                    {
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
               
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    
                        <div class="d-flex">
                       
                            <div class="flex-shrink-0 btn-lg-square bg-primary">
                           
                                <i class="fa fa-car text-white"></i>

                            </div>
                   
                        <div class="ps-4">
                           
                                <h5>@item.Title</h5>
                            <span>@item.Content</span>
                            </div>
                       </div>
                        </div>
                </div>
                            }
                            </div>
                       </div>
                
                    
               
           




              @* <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-primary">
                                <i class="fa fa-users text-white"></i>
                            </div>
                            <div class="ps-4">
                            <h5>Pay your traffic fines easily</h5>
                            <span>You can pay all your traffic violations and get an invoice through this website</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-primary">
                                <i class="fa fa-file-alt text-white"></i>
                            </div>
                            <div class="ps-4">
                            <h5>Get a notification of the licensing date</h5>
                            <span>Get a reminder of your next licensing appointment</span>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Facts End -->
    <!-- About Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="~/Home/img/about-1.jpg" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="~/Home/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">About Us</h6>
                    <h1 class="display-6 mb-4">We help drivers easily manage & pay their traffic fines </h1>
                    <p>We help drivers to review their traffic violations and pay these violations through this website.</p>
                    <p class="mb-4">In addition to obtaining an invoice for the amount paid that is sent as a PDF file to their emails, and getting notification of the next licensing date.</p>
                        <div class="row g-2 mb-4 pb-2">
                            <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Electronic payment
                            </div>
                            <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Review violations
                            </div>
                            <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Notification of the licensing date
                            </div>
                            <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Get an invoice
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a class="btn btn-primary py-3 px-5" href="">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:+0123456789">
                                    <span class="flex-shrink-0 btn-square bg-primary">
                                        <i class="fa fa-phone-alt text-white"></i>
                                    </span>
                                    <span class="px-3">+962 772 351 368</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Courses Start -->
<!-- Courses Start -->
<div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>
            <h1 class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
                    {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                  
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Traffic Control</div>
                        <h5 class="mb-3">@item.Title</h5>
                        <p>@item.Content</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Available all the time</li>
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>Fast Services </li>
                        </ol>
                    </div>
                    
                    <div class="position-relative mt-auto">
                      @*  <img class="img-fluid" src="img/courses-1.jpg" alt="">*@
                            <img src="@Url.Content("~/Images/" + item.Imagepath )" asp-append-version="true" width="400" height="400" />
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" href="">Read More</a>
                        </div>

                        </div>
                    </div>
                   </div>
                    }
                </div>
    </div>
</div>
      
 
<!-- Courses End -->
    <!-- Features Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-primary text-uppercase mb-2">Why Choose Us!</h6>
                <h1 class="display-6 mb-4">Find out your traffic violations and pay them remotely</h1>
                <p class="mb-5">The process is completely remote, which saves you time and effort. You do not have to go to any security center for any procedure. In addition, the payment process is reliable and secure, and you can obtain a receipt or invoice as a reliable file documenting the payment process.</p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                            <h5 class="mb-0">Get an invoice</h5>
                            </div>
                            <span></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                            <h5 class="mb-0">Electronic payment</h5>
                            </div>
                            <span></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                            <h5 class="mb-0">Review violations</h5>
                            </div>
                            <span></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                            <h5 class="mb-0">Notification of the licensing date</h5>
                            </div>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="~/Home/img/Parking Ticket stock photo_ Image of anger, offense, court - 15827788.jpg" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="~/Home/img/Top Fort Lauderdale Slip and Fall Lawyer for your Case!.jpg" alt="" style="width: 200px; height: 200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
  <!--team-->
    
   