@model WebApplication2.Models.Vehicle

@{
    Layout = "UserLayout";
}




<div>
    <h1 class="btn btn-primary">Delete  information Vehicle :</h1>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.StructureNo)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.StructureNo)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.VehicleRegistrationNumber)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.RegistrationStatus)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.RegistrationStatus)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.VehicleCategory)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.VehicleCategory)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.VehicleType)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.VehicleType)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.VehicleNationality)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.VehicleNationality)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.Model)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.Model)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.Color)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.Color)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.Year)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.Year)
            </a>
        </dd>
        <dt class = "col-sm-2">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayNameFor(model => model.Customer)
            </a>
        </dt>
        <dd class = "col-sm-10">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3">
            @Html.DisplayFor(model => model.Customer.Id)
            </a>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Vehicleid" />
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
